@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "@fontsource-variable/roboto-mono";
@import "@fontsource-variable/familjen-grotesk";

.Auth {
  display: flex;
  background-color: #fefeff;
}

.Auth .left {
  background: rgb(185, 100, 245);
  background: linear-gradient(
    137deg,
    rgba(185, 100, 245, 1) 0%,
    rgba(123, 184, 251, 1) 100%
  );
  height: 100vh;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Auth .left-inner {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid aliceblue;
  border-radius: 20px;
  height: 75%;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  gap: 30px;
}

.Auth .left-inner h2 {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
}

.Auth .left-inner p {
  color: #ffffff;
  font-family: "Familjen Grotesk Variable", sans-serif;
  font-size: 15px;
  text-align: center;
}

.Auth .left-inner .creds {
  font-size: 10px;
  color: #ffffff71;
}

.Auth .right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  gap: 10px;
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

.Auth .right .logos {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Auth .right .logos .img:first-child {
  justify-self: flex-start;
  margin-left: -60px;
}

.Auth .right .logos .img:nth-child(2) {
  margin-right: -35px;
  justify-self: flex-end;
}

.Auth .right img {
  width: 200px;
  user-select: none;
}

.Auth .right .divider {
  border: 1px solid black;
  height: inherit;
}

.Auth .right input {
  width: 400px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  height: 45px;
}

.Auth .right p {
  font-family: "Poppins", sans-serif;
  text-align: left;
  margin-top: 10px;
  font-size: 13px;
  margin-bottom: 20px;
  color: rgba(128, 128, 128, 0.882);
}

.Auth .right .btn {
  width: 400px;
  background: rgb(145, 93, 250);
  background: linear-gradient(
    101deg,
    rgba(145, 93, 250, 1) 0%,
    rgba(96, 106, 250, 1) 100%
  );
  color: #ffffff;
}

.Auth .right label {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: bold;
}

.Auth .right .title {
  width: 400px;
}

.Auth .right .title h2 {
  font-size: 25px;
  font-family: "Familjen Grotesk Variable", sans-serif;
}

.Auth .right .Image {
  width: 400px;
  align-items: flex-start;
}

@media screen and (max-width: 1250px) {
  .Auth .left .left-inner h2 {
    font-size: 25px;
  }
}

@media screen and (max-width: 1024px) {
  .Auth .right {
    width: 100%;
    gap: 20px;
  }

  .Auth .left {
    display: none;
  }
}
