@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.Auth {
  background-color: var(--bg);
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 80px;
  color: var(--text-color);
  font-family: "Poppins";
}

.Auth i:first-child {
  color: var(--accent-color);
  font-size: 2.5rem;
}

.Auth .left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-direction: column;
  width: 45vw;
}

.Auth .left .pwd {
  position: relative;
}

.Auth .left .pwd i {
  position: absolute;
  cursor: pointer;
}

.Auth input {
  background-color: var(--primary-bg);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: var(--text-color);
  font-size: 1rem;
  margin-bottom: 10px;
  width: 300px;
}

.Auth #pw {
  padding-right: 70px;
}

.Auth .showpw {
  background-color: transparent;
  color: var(--text-color);
  height: 1.75rem;
  margin-right: 10px;
}

.Auth .pw {
  position: relative;
  width: 300px;
}

.Auth .heading {
  color: var(--accent-color);
  margin-bottom: 20px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.Auth .creds {
  color: rgba(240, 248, 255, 0.241);
  margin-bottom: 20px;
}

.Auth .right {
  width: 45vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Auth .right h1 {
  color: var(--accent-color);
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.Auth .right p {
  color: rgba(240, 248, 255, 0.403);
  font-size: 1rem;
  margin-bottom: 20px;
  padding: 0 50px;
  line-height: 1.5;
}

.Auth .submit {
  background-color: var(--accent-color);
  color: black;
}

@media screen and (max-width: 768px) {
  .Auth .left {
    width: 100%;
    gap: 20px;
  }

  .Auth .right {
    display: none;
  }
}
