.FacultySettings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: 100%;
}

.FacultySettings .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 90%;
    width: 50%;
    padding: 50px;
    gap: 30px;
}

.FacultySettings .wrapper .formcontrol {
    display: flex;
    justify-content: space-between;
}