.AdminEvents {
  padding: 0 70px 30px 70px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: auto;
}

.AdminEvents .events {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.AdminEvents .event {
  display: flex;
  gap: 15px;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 200px;
  width: 25%;
}

@media screen and (max-width: 1250px) {
  .AdminEvents {
    padding: 30px 20px;
  }
}

@media screen and (max-width: 1024px) {
}
