.navFaculty {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 12px 60px;
  background-color: var(--bg);
  color: #59616f;
}

.navFaculty .image {
  width: 30px;
  cursor: pointer;
}

.navFaculty .darker {
  background-color: var(--name-bg);
  color: var(--text);
  margin-right: -20px;
  padding-right: 35px;
  padding-left: 15px;
  height: 32px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  font-size: 14px;
}


.navFaculty i {
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 20px;
  color: var(--accent-color);
}

.navFaculty .links a {
  transition: 0.2s;
}

.navFaculty .links a:hover {
  color: var(--accent-color);
}

.left-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.left-link a {
  margin-right: 20px;
}

.navFaculty input {
  background-color: #e8e8e8;
  border: none;
  outline: none;
  color: #59616f;
  font-size: 1rem;
  padding: 10px 20px;
  width: 400px;
  border-radius: 5px;
  transition: 0.2s;
}

.navFaculty .profile {
  background-size: cover;
  background-position: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 20px;
}

.navFaculty .rightmost {
  display: flex;
  align-items: center;
}

.navFaculty .rightmost i {
  font-size: 20px;
  margin-right: 30px;
  cursor: pointer;
}

.navFaculty .hidden {
  display: none;
}

.navFaculty #searchIcon {
  display: none;
  font-size: 1rem;
}

.alert-navFaculty-notification {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.navFaculty .notificationBody {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .navFaculty .links {
    display: none;
  }

  .navFaculty .hidden {
    display: block;
  }
}
