.StudentImport {
  background-color: #f7f6fa;
  height: 77vh;
  padding: 20px 70px;
}

.StudentImport input[type="file"] {
  display: none;
}

.StudentImport .custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
  width: 150px;
  text-align: center;
  background-color: #edf2f7;
  color: black;
}

.StudentImport .custom-file-upload:hover {
  background-color: #ccc;
}

.StudentImport .main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.StudentImport .main .table {
  height: 42vh;
  border-radius: 10px;
  overflow-y: auto;
}

.StudentImport .main .footer {
    align-self: flex-end;
    justify-self: flex-end;
}
