.Home {
  background-color: #fdfdff;
  box-sizing: border-box;
  padding: 30px 70px;
  height: 91vh;
}

.Home .main {
  display: flex;
  gap: 20px;
}

.Home .left {
  width: 70%;
}

.Home .left .stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 30px;
}

.Home .left .stats .totalXP,
.Home .left .stats .rank-alltime,
.Home .left .stats .rank-monthly {
  width: 300px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.Home .left .stats .totalXP {
  background-color: #cdc2fe;
}

.Home .left .stats .rank-alltime {
  background-color: #aac9ff;
}

.Home .left .stats .rank-monthly {
  background-color: #93e2b8;
}

.Home .house {
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  height: 48vh;
  background-color: #ffffff;
  height: 75vh;
}

.Home .house .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.Home .house .info .ranking {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  width: 100%;
}

.Home .house .info .ranking .group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.Home .right {
  height: 50vh;
  width: 30%;
}

.Home .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
}

.Home .title i {
    font-size: 30px;
    cursor: pointer;
}

.Home .represent {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 51vh;
  padding: 20px;
}

.Home .represent .canvas {
  height: 90%;
}

.link_assignments_home {
    text-decoration: underline;
    transition: .2s;
}

.link_assignments_home:hover {
    color: red;
}

@media screen and (max-width: 1300px) {
  .Home .left .stats .totalXP,
  .Home .left .stats .rank-alltime,
  .Home .left .stats .rank-monthly {
    width: 200px;
  }
}

@media screen and (max-width: 1140px) {
  .Home .house .info h2 {
    font-size: 20px;
  }

  .Home .house .info p {
    font-size: 15px;
  }
}

@media screen and (max-width: 1080px) {
  .Home .main {
    flex-direction: column;
  }

  .Home {
    height: max-content;
  }

  .Home .left,
  .Home .right {
    width: 100%;
  }

  .Home .right {
    height: fit-content;
  }

  .Home .house .info h2 {
    font-size: 30px;
  }

  .Home .house .info p {
    font-size: 25px;
  }

  .Home .left .stats .totalXP,
  .Home .left .stats .rank-alltime,
  .Home .left .stats .rank-monthly {
    width: 100%;
  }

  .Home .left .stats {
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (max-width: 470px) {
  .Home {
    padding: 20px;
  }

  .Home .house .info h2 {
    font-size: 20px;
  }

  .Home .house .info p {
    font-size: 15px;
  }

  .Home .title {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px
  }
}
