.StudentDashboard {
  padding: 10px 60px;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.StudentDashboard .left {
  background-color: var(--darker);
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
}

.StudentDashboard .right {
  background-color: var(--darker);
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  border-radius: 10px;
}

.StudentDashboard .left .houseLeaderboard {
  height: 50%;
  width: 100%;
  border-radius: 10px;
  background-color: var(--container);
  padding: 20px;
  overflow: auto;
  overflow-y: hidden;
}

.StudentDashboard .left .certifications {
  background-color: var(--container);
  height: 50%;
  border-radius: 10px;
  width: 100%;
  padding: 20px;
}

.StudentDashboard .right .pointAnalysis {
  width: 100%;
  height: 50%;
  border-radius: 10px;
  background-color: var(--container);
  padding: 20px;
}

.StudentDashboard .right .myHouse {
  width: 100%;
  border-radius: 10px;
  height: 51%;
  background-color: var(--container);
  padding: 20px;
}

.StudentDashboard #houseLeaderboard {
  margin: 10px;
  height: 80% !important;
}

.StudentDashboard .contribution {}

.StudentDashboard #contribution {
  width: 150px !important;
  height: 150px !important;
}