.AdminHome {
  display: flex;
  gap: 20px;
  padding: 30px 70px;
}

.AdminHome .left {
  background-color: var(--darker);
  height: 83vh;
  padding: 20px;
  width: 60%;
  border-radius: 15px;
}

.AdminHome .right {
  background-color: var(--darker);
  height: 83vh;
  padding: 20px;
  width: 40%;
  border-radius: 15px;
}

.AdminHome .left .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.AdminHome .housePoints,
.AdminHome .certifications {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  width: 50%;
  height: 40vh;
}

.AdminHome .left .bottom {
  margin-top: 20px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
}

.AdminHome .right .houseAssesment {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.AdminHome .right .currentEvents {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  height: 35vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}
