.AdminHome {
  display: flex;
  gap: 20px;
  padding: 30px 70px;
  flex-wrap: wrap;
}

.AdminHome .left {
  background-color: var(--darker);
  height: 83vh;
  padding: 20px;
  width: 58%;
  border-radius: 15px;
}

.AdminHome .right {
  background-color: var(--darker);
  height: 83vh;
  padding: 20px;
  width: 40%;
  border-radius: 15px;
}

.AdminHome .left .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.AdminHome .housePoints,
.AdminHome .certifications {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  width: 50%;
  height: 40vh;
}

.AdminHome .left .bottom {
  margin-top: 20px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  height: 45%;
}

.AdminHome .right .houseAssesment {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.AdminHome .right .currentEvents {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  height: 35vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

@media (max-width: 1250px) {
  .AdminHome .left .top {
    flex-direction: row;
    gap: 20px;
    overflow-x: auto;
    height: fit-content;
  }

  .AdminHome .housePoints,
  .AdminHome .certifications {
    width: 48%;
    height: fit-content;
  }

  .AdminHome .left .bottom {
    width: 100%;
  }

  .AdminHome .left .bottom {
    width: 100%;
    overflow-x: auto;
  }

  .AdminHome .left {
    width: 90vw;
    flex-direction: row;
    overflow-x: auto;
    height: fit-content;
  }

  .AdminHome .right {
    width: 100vw;
    margin-top: 20px;
    height: fit-content;
  }

  .AdminHome .right .top {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .AdminHome .right .houseAssesment {
    width: 47%;
    overflow-x: auto;
    height: fit-content;
  }

  .AdminHome .right .currentEvents {
    width: 47%;
    overflow-x: auto;
    height: fit-content;
  }
}

@media (max-width: 768px) {
  .AdminHome {
    padding: 30px 20px;
    flex-direction: row;
  }

  .AdminHome .housePoints,
  .AdminHome .certifications {
    width: 80vw;
    overflow-x: auto;
    height: fit-content;
  }

  .AdminHome .right .houseAssesment {
    width: 80vw;
    overflow-x: auto;
    height: fit-content;
  }

  .AdminHome .right .currentEvents {
    width: 80vw;
    overflow-x: auto;
  }

  .AdminHome .left .top {
    flex-direction: column;
    gap: 20px;
    overflow-x: auto;
    height: fit-content;
  }

  .AdminHome .right .top {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
