@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "@fontsource-variable/roboto-mono";
@import "@fontsource-variable/familjen-grotesk";

.Profile {
  background-color: #fdfdff;
  box-sizing: border-box;
  padding: 30px 70px;
  height: 91vh;
}

.Profile .main-profile {
  font-family: "Poppins", sans-serif;
  width: 25%;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(185, 100, 245, 0.1);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.Profile .main-profile .image-wrapper {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid rgba(185, 100, 245, 1);
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Profile .main-profile .img {
  width: 105px;
  height: 105px;
  border-radius: 50%;
}

.Profile .main-profile .info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Profile .main-profile .stats {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.Profile .main-profile .stats .stat-group {
  width: 110px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Profile .main-profile .stats .stat-group h2 {
  font-size: 20px;
}

.Profile .main-profile .stats .stat-group p {
  font-size: 13px;
}
