.houses .graph-wrapper {
  padding: 30px 70px;
}

.houses .house-card {
  width: 23.9%;
}

.houses .graphs {
  background: var(--darker);
  border-radius: 20px;
}

@media screen and (max-width: 1250px) {
  .houses .graph-wrapper {
    padding: 30px 20px;
  }

  .houses .graphs {
    width: 100%;
  }

  .houses .house-card {
    width: 47%;
  }
}

@media screen and (max-width: 1024px) {
}
