.StudentHouses {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 30px 70px;
  gap: 20px;
  flex-wrap: wrap;
}

.StudentHouses .house {
  width: 49%;
  height: 39vh;
  border-radius: 10px;
  padding: 20px;
  box-shadow: var(--box-shadow)
}
.StudentHouses .details {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.StudentHouses .canvas {
  margin-top: 10px;
  width: 60%;
}

.StudentHouses .det {
    width: 30%;
}
