.nf {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: var(--accent-color);
  background-color: var(--bg);
}

.nf .spinner {
  animation: fadeInAnimation 0.5s;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
