.Practice {
  padding: 20px;
  display: flex;
  background-color: var(--bg);
  color: var(--text-color);
}

.Practice .main .top {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  font-weight: bold;
  padding-right: 50px;
}

.Practice .main {
  width: 70vw;
  background-color: var(--primary-bg);
  border-radius: 10px;
  height: 85vh;
  overflow: hidden;
  padding-bottom: 5px;
}

.Practice .table {
  height: 92%;
  overflow: auto  ;
}

.Practice .main Button {
  background-color: transparent;
  width: 100%;
  color: var(--accent-color);
  padding: 30px 0;
  border-top: 1px solid black;
}

.Practice .main Button:hover {
  color: var(--text-color);
}

.Practice .main .viewLink {
  color: var(--accent-color);
}