.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 12px 60px;
  background-color: var(--bg);
  color: #59616f;
}

.nav .image {
  width: 30px;
  cursor: pointer;
}

.nav i {
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 20px;
  color: var(--accent-color);
}

.nav .links a {
  transition: 0.2s;
}

.nav .links a:hover {
  color: var(--accent-color);
}

.left-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.left-link a {
  margin-right: 20px;
}

.nav input {
  background-color: #f4f6ff;
  border: none;
  outline: none;
  color: #59616f;
  font-size: 1rem;
  padding: 10px 20px;
  width: 400px;
  border-radius: 5px;
  transition: 0.2s;
}

.nav .profile {
  background-size: cover;
  background-position: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 20px;
}

.nav .rightmost {
  display: flex;
  align-items: center;
}

.nav .rightmost i {
  font-size: 20px;
  margin-right: 30px;
  cursor: pointer;
}

.nav #searchIcon {
  display: none;
  font-size: 1rem;
}

@media (max-width: 960px) {
  .nav input {
    width: 300px;
  }
}

@media (max-width: 768px) {
  .nav {
    padding: 10px 20px;
  }

  .nav input {
    display: none;
  }

  .nav #searchIcon {
    display: block;
  }
}
